{% load static tailwind_tags %}
{% load static %} 

<!DOCTYPE html
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PLM Bentambayan</title>
  {% tailwind_css %}
</head>
<body class="flex-col justify-center" data-theme="bumblebee">
  <!-- NAV BAR -->
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
          
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a>Profile</a></li>
        </ul>
      </div>

      <!-- DIKO MAAYOS YUNG SIZE  -->
      <!-- <div>
        <img src="{% static 'images/PLM_Bentambayan_Logo2.png' %}" alt="PLM Bentambayan Logo" class="mx-auto">
      </div> -->
      <a class="btn btn-ghost text-xl">PLM Bentambayan</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a>Profile</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      {% if user.is_authenticated %}
        <a class="btn" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="btn" href="{% url 'login' %}">Log In</a>
      {% endif %} 
    </div>
  </div>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
