{% extends "listings/base.html" %}

{% block content %}
<h1>Register</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h2>User Info</h2>
  {{ user_form.as_p }}
  <h2>Profile Info</h2>
  <div class="field-wrapper">
      {{ profile_form.picture.label_tag }} {{ profile_form.picture }}
  </div>
  <div class="field-wrapper">
      {{ profile_form.bio.label_tag }} {{ profile_form.bio }}
  </div>
  <div class="field-wrapper">
      {{ profile_form.link.label_tag }} {{ profile_form.link }}
  </div>
  <button type="submit">Register</button>
</form>

{% if messages %}
<ul>
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
